@import "../global-styles.css";

#content {
  width: 80%;
  min-height: 86%;
  max-height: 86%;
  padding: 0.6rem;
  overflow-y: auto;
}

#content::-webkit-scrollbar {
  width: 4px; /* Remove scrollbar space */
}
#content::-webkit-scrollbar-thumb {
  background: gray;
  width: 200px;
}
#content::-webkit-scrollbar-track {
  background-color: transparent;
  height: 4px;

}

.add-task-div{
  margin-top: 1rem;
  width: auto;
  & button{
    all: unset;
    width: 110px;
    cursor: pointer;
    padding: .2rem;
    text-align: right;
    position: relative;
    color: grey;
  }
  & button:hover{
    color: var(--secondary);
    }
  & button::before{
    position: absolute;
    left: 9px;
    top: 2px;
    width: 22px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    content: "+";
    color: var(--secondary);


  }
  & button:hover::before{
    background-color: var(--secondary);
    color: white;
    content: "+";

  }
}

.filters{
  display: flex;
  gap: 10px;
  button{
    all: unset;
    border: 1px solid var(--secondary);
    padding: .2rem .6rem;
    border-radius: 1rem;

  }
}