@import "../global-styles.css";

.head{
    margin-bottom: 2rem;
}
.sub{
    margin-bottom: .5rem;
    position: relative;
}

hr{
    background-color: var(--divider);
}

.project-tile{
    display: flex;
    gap: 8px;
    padding: .6rem;
    margin: .4rem;
    border-radius: 8px;
}
.project-tile:hover{
    background-color: var(--divider);
    & button{
        opacity: 1;
    }
}
button{
    margin-left: auto;
    opacity: 0;
    cursor: pointer;
}