@import "../global-styles.css";

.task-tile {
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;

  .the-input {
    align-self: flex-start;
  }

  & .time{
    position: absolute;
    right: 8px;
    bottom: 2px;
    font-size: .8rem;
    color: var(--text-medium);
  }
  & .due{
    font-size: .8rem;
    color: var(--text-medium);
  }

  & .buttons {
    opacity: 0;
    margin-left: auto;
    margin-right: 0.4rem;
    align-self: start;
    & button {
      all: unset;
      cursor: pointer;
      border-radius: 4px;
      margin-right: 0.2rem;
    }
  }
}

.task-tile:hover {
  .buttons {
    opacity: 100%;
  }
}

.edit:hover {
  background-color: rgb(223, 223, 223) !important;
}

.task-tile.completed{
  min-height: 2rem;
}
