.task-tile {
  padding-left: 0.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;

  .the-input {
    align-self: self-start;
  }

  & .buttons {
    opacity: 0;
  }
}

.task-tile:hover{
    .buttons{
        opacity: 100%;
    }
}
